* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    scroll-behavior: smooth;
    font-family: "Poppins", "Sora", sans-serif;
    background: #fffaf5;
}
/* commony */
h1,
h2,
h3,
h4 {
    font-family: "Sora", sans-serif;
}
p,
a {
    font-family: "Poppins", sans-serif;
}
input,
textarea,
select,
button {
    font-family: inherit;
}
:root {
    --primary-color: #ff5b2e;
}
.btn {
    --height: 56px;
    min-width: 130px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid rgb(0, 9, 88, 0.7);
    color: #000958;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    color: #ff5b2e;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section-heading {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}

.section-desc {
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}
/* header */
.header {
    padding: 26px 0;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__list {
    display: flex;
}
.navbar__link,
.header-action__link {
    padding: 8px 16px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    text-decoration: none;
}

.header-action__btn {
    --height: 50px;
    min-width: 118px;
}
.navbar__link:hover {
    color: #000958;
    font-weight: 600;
}
/* hero */
.hero {
    margin-top: 76px;
    padding-bottom: 77px;
}
.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__media {
    display: flex;
    align-items: flex-end;
    position: relative;
    padding-bottom: 96px;
}
.hero__img--wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}
.hero__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.hero__img--mini {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 186px;
    height: 244px;
    border: 2px solid #fde0e2;
    border-radius: 16px;
    background: #f7a2a8;
    margin: 0 0 -58px -24px;
}
.hero__decor-left {
    position: absolute;
    bottom: 10px;
    left: -58px;
    z-index: -1;
}

.hero__decor-right {
    position: absolute;
    top: 10px;
    right: -39.5px;
    top: 16.6px;
    z-index: -1;
}
/* hero list */
.hero__list {
    position: absolute;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    left: 129px;
    bottom: 0;
}
.hero-list-item {
    display: flex;
    align-items: center;
}
.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
    object-fit: cover;
}
.hero-list-item__infor {
    height: 36px;
    margin-left: 8.62px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero-list-item__title {
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}
.hero-list-item__skeleton {
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}
.hero-list-item:nth-child(3) .hero-list-item__thumb {
    background: #c6e2fa;
}
.hero-list-item__separate {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: #f2f2f2;
    margin: 20px 0 19.6px;
}
/* hero content */
.hero__content {
    width: 44%;
}

.hero__heading {
    color: #000958;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
}
.hero__decs {
    width: 391px;
    color: #656689;
    margin-top: 24px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}
.hero__row {
    margin-top: 34px;
}
.hero__cta-btn {
    --height: 60px;
    font-size: 1.6rem;
    min-width: 190px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.hero__cta-link {
    margin-left: 24px;
    color: #000958;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    text-decoration-line: underline;
}
/* about */
.about {
    margin-top: 53px;
}

.about__inner {
    display: grid;
    row-gap: 146px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 34px 36px;
}
.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}
.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}
.about__check-item::after {
    content: url(../icon/about_check.svg);
    position: absolute;
    top: 4px;
    left: 3px;
}
/* about content */
.about__media {
    position: relative;
}
.about__card {
    position: absolute;
    text-align: center;
    padding: 31px 26px 29px 27px;
    width: 136px;
    top: 165px;
    left: 0;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}
.about__card-title {
    color: #fff;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}
.about__card-decs {
    margin-top: 14px;
    color: #c6f4f9;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42; /* 142.857% */
}
.about__card-decor {
    position: absolute;
    right: -32px;
    top: -39px;
}
.about__img-wrap {
    margin-left: auto;
    width: 494px;
    position: relative;
}
.about__img-wrap::after {
    z-index: -1;
    position: absolute;
    height: 336px;
    inset: auto 0 0 0;
    content: "";
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}
.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}
.about__media-decor {
    z-index: -1;
    position: absolute;
    top: 157px;
    right: -50px;
}
.about__img-wrap-bottom {
    margin-left: 0;
    /* position: relative; */
    width: 458px;
}
.about__img-wrap-bottom::after {
    content: none;
}

.about__img--bottom {
    border-radius: 18px;
    width: 458px;
    height: 500px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}
.about__decor--img-bottom img {
    position: absolute;
}
.about__img-decor1-bottom {
    top: 12.5px;
    right: 63px;
}
.about__img-decor2-bottom {
    right: 12.3px;
    top: -16px;
}
.about__img-decor3-bottom {
    right: -21px;
    top: 33px;
}
.about__img-decor4-bottom {
    top: 268px;
    right: 0;
    transform: translateX(calc(100% + 10px));
}
.about__img-decor5-bottom {
    top: 336px;
    right: 19px;
}
.about__img-decor6-bottom {
    top: 435px;
    right: -42px;
}

.about__desc-bottom {
    width: 511px;
    margin-top: 24px;
}
.tab__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.tab__list::before,
.tab__item-active::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #ff5b2e;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.07;
    border-radius: 1px;
}
.tab__item-active::after {
    width: 95px;
    opacity: 1;
}
.tab__item {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    position: relative;
    padding-bottom: 12px;
}
.tab__icon {
    width: 20px;
}
.tab__title {
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.tab__content {
    margin-top: 36px;
}
.tab__content-item {
    display: none;
}
.tab__content-active {
    display: block;
}
.tab__content-desc {
    margin-bottom: 32px;
    width: 391px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
}

.tab__content-more {
    padding-bottom: 3.5px;
    position: relative;
    color: #ff5d31;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    text-decoration: none;
}
.tab__content-more::after {
    position: absolute;
    background-color: #ff5d31;
    content: "";
    height: 1.5px;
    bottom: 0;
    left: 0;
    right: 0;
}
