* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    scroll-behavior: smooth;
    font-family: "Poppins", "Sora", sans-serif;
}
h1,
h2,
h3,
h4 {
    font-family: "Sora", sans-serif;
}
p,
a {
    font-family: "Poppins", sans-serif;
}
input,
textarea,
select,
button {
    font-family: inherit;
}
